body {
	height: 100%;
	margin: 0px 25%;

	background-color: #f7f7f5;
	background-image: url('welcome.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 50%;

	text-align: center;
}

h1 {
	color: #FF7F7F;
	font-size: 5em;
	padding: 30px;
	margin: 0px;
}

div.section {
	margin: 20px;
	padding: 20px;

	background-color: #ffffff;
	opacity: 0.9;
}

table.center-aligned { 
	margin: 0px auto;
}

td.right-aligned { 
	text-align: right;
}
