<h1>Welcome to The Assistant!</h1>

<div class="section">
  Log in to your account for The Assistant.<br>
  <br>
  <form>
    <table class="center-aligned">
      <tr>
        <td class="right-aligned">E-Mail</td>
        <td><input type="text" name="user-mail"></td>
      </tr><tr>
        <td class="right-aligned">Password</td>
        <td><input type="password" name="user-password"></td>
      </tr><tr>
        <td></td>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
  <br>
  Don't have an account yet?
  You're welcome to <a href="register.html">register</a>!
</div>
