<!DOCTYPE html>
<html>
<head>
  
  <title>TheAssistant</title>
  <!--<link rel="stylesheet" href="//TheAssistant.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//TheAssistant.com/assets/bootstrap-theme.css">-->
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="assets/pages.css"
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li>
       <a class="tooltip" href="#">Home
        <span class="tooltiptext">The main Page</span> </a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Send to friend</a>
    </li>
    <li>
      <a href="#">Log out</a>
    </li>
  </ul>
</nav>

<h1>The Assistant</h1>
</html>

<div class="container">
  <%= yield %>
</div>

<footer id = "blue">
  <div class="container">
    The Assistant
  </div>
</footer>
<script src="//TheAssistant.com/assets/bootstrap.js"></script>

</body>
